VITE_API_URL=https://acronym-clerk-unclog.ngrok-free.dev/api/v1
VITE_N8N_RESUME_UPLOAD_WEBHOOK=https://alaeloukili.app.n8n.cloud/webhook-test/recruitment/resume-upload
VITE_N8N_APPLICATION_GENERATION_WEBHOOK=https://alaeloukili.app.n8n.cloud/webhook-test/recruitment/application-generation
VITE_N8N_EMAIL_DISCOVERY_WEBHOOK=https://alaeloukili.app.n8n.cloud/webhook-test/recruitment/email-discovery
